    body {
        background-color: khaki;
    }

    body nav p {
        font-family: 'Viga', sans-serif;
    }

    body div.text-center {
        margin-top: 40px;
        font-family: 'Amatic SC', cursive;
    }

    /*Button Clear*/

    a:link {
        text-decoration: none;
        color: black;
    }

    a:visited {
        text-decoration: none;
        color: black;
        border: 0px;
    }

    a:hover {
        text-decoration: none;
        color: black;
    }

    a:focus {
        outline: none;
    }

    /*Akhir Button Clear*/

    .btn-cntr {
        margin-top: 65px;
        color: black;

    }

    /*Animasi Button*/

    .btn-nav {
        width: 125px;
        height: 45px;
        border: 1px solid #333;
        font-family: 'Cinzel', serif;
        font-size: 18px;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 0;
        transition: 1s;
    }

    .btn-nav::before,
    .btn-nav::after {
        position: absolute;
        background-color: khaki;
        z-index: -1;
        transition: 1s;
        content: '';
    }

    .btn-nav::before {
        height: 45px;
        width: 110px;
    }

    .btn-nav::after {
        width: 125px;
        height: 30px;
    }

    .noselect {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .btn-nav:hover::before {
        width: 0px;
        background: #fff;
    }

    .btn-nav:hover::after {
        height: 0px;
        background: #fff;
    }

    .btn-nav:hover {
        background: #fff;
    }