body {
    background-color: khaki;
}

body nav {
    font-family: 'Viga', sans-serif;
}

.jumbotron {
    background-color: khaki;
}

.jumbotron p {
    color: black;
    text-align: center;
}

.jumbotron p clrs {
    font-family: 'Asap Condensed', sans-serif;
    color: maroon;
    font-weight: bolder;
}

.name-style {
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;

}

/*Button Clear*/

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
    border: 0px;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:focus {
    outline: none;
}

/*Akhir Button Clear*/