body {
    background-color:snow;
}
.dev-color {
    color:burlywood;
    font-weight: bold;
}
.dev-color-underline{
    font-weight: lighter;

}
.nav-text-style {
    font-family: 'Viga', sans-serif;
}

.jmbt-head {
    font-family: 'Asap Condensed', sans-serif;
    text-align: center;
    background-color: snow;
}

/*Button Sosial Media*/

.btn {
    display: inline-block;
    margin-right: 20px;
    letter-spacing: 2px;
    border: 1px solid transparent
}

.btn-round {
    border-radius: 4px !important
}

.btn i {
    margin-right: 5px
}

.button {
    margin-top: 0;
    margin-bottom: 0
}

.btn.btn-medium {
    font-size: 14px;
    padding: 10px 22px
}

.highlight-button {
    border: 2px solid #000;
    display: inline-block;
    padding: 8px 20px 9px;
    font-size: 12px;
    color: #000;
    background-color: transparent
}

.highlight-button:hover {
    background-color: #000;
    border: 2px solid #000;
    color: #fff
}

.highlight-button i {
    color: #000
}

.highlight-button:hover i {
    color: #fff
}