body {
    background-color:snow;
}
.dev-color {
    color:burlywood;
    font-weight: bold;
}
.dev-color-underline{
    font-weight: lighter;

}
.nav-text-style {
    font-family: 'Viga', sans-serif;
}

.jmbt-head {
    font-family: 'Asap Condensed', sans-serif;
    text-align: center;
    background-color: snow;
}

/*Button Sosial Media*/
